<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Local Storage</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="ajax" class="page">
        <div class="page-content">
            <div class="content-block">
                <a href="ajaxSample.html">Ajax Sample 1 - Virtual List</a><br/>
                <a href="ajaxSample2.html">Ajax Sample 2 - Manual</a>
            </div>
        </div>
    </div>
</div>
