<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Web SQL (SQL Lite)</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="websql" class="page">
        <div class="page-content">
            <div class="content-block">
               <a class="link external" href="http://cordova.apache.org/docs/en/latest/cordova/storage/storage.html#websql" target="_blank">Cordova Documentation</a><br/>
               <a class="link external" href="https://sqlite.org/lang.html" target="_blank">SQL Lite Documentation</a><br/>
               <a class="link external" href="https://www.tutorialspoint.com/html5/html5_web_sql.htm" target="_blank">HTML5 Web SQL - Tutorial</a><br/>
               <a href="websqlSample.html" target="_blank">Web SQL Sample</a><br/>
            </div>
        </div>
    </div>
</div>
