<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Storage Sample</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="storageSample" class="page">
        <div class="page-content">
            <div class="content-block">

                    <div class="list-block">
                            <ul>
                                <!-- Text inputs -->
                                <li>
                                    <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Name</div>
                                        <div class="item-input">
                                        <input id="name" type="text" placeholder="Your name">
                                        </div>
                                    </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">E-mail</div>
                                        <div class="item-input">
                                        <input id="email" type="email" placeholder="E-mail">
                                        </div>
                                    </div>
                                    </div>
                                </li>
                            </ul>

                            <p><a href="#" class="button button-round save">Save</a></p>
                    </div>
                           
            </div>
        </div>
    </div>
</div>
