<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Local Storage</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="storage" class="page">
        <div class="page-content">
            <div class="content-block">
                <a class="link external" href="http://cordova.apache.org/docs/en/latest/cordova/storage/storage.html#localstorage" target="_blank">Cordova Documentation</a><br/>
                <a href="storageSample.html">Storage Sample</a>
            </div>
        </div>
    </div>
</div>
